name: Docker to Nexus Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  IMAGE: "ubuntu_nginx"
  TAG: "v1"
  REPO: "https://alina-neonatal-bardily.ngrok-free.dev"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Git connection
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker image build -f ubuntucontainer_nginx -t ${{ env.IMAGE }}:${{ env.TAG }} .

      - name: Container creation and termination
        run: |
          # Stop and remove if exists (ignore error if not found)
          docker container stop ubuntucontainer || true && docker container rm ubuntucontainer || true
          docker container run -d --name ubuntucontainer -P -v nginxvolume1:/data ${{ env.IMAGE }}:${{ env.TAG }}

      - name: Docker login to Nexus
        run: |
          echo "${{ secrets.NEXUS_PASS }}" | docker login http://${{ env.REPO }} -u ${{ secrets.NEXUS_USER }} --password-stdin

      - name: Tagging docker image
        run: |
          docker tag ${{ env.IMAGE }}:${{ env.TAG }} ${{ env.REPO }}/${{ env.IMAGE }}:${{ env.TAG }}

      - name: Pushing image to Sonatype Nexus
        run: |
          docker push ${{ env.REPO }}/${{ env.IMAGE }}:${{ env.TAG }}

      - name: Success message
        if: success()
        run: echo "The pipeline job was successful"

