name: Build & Push Image to GHCR

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write 

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Image Variables
        run: |
          echo "IMAGE_NAME=ubuntu_nginx1" >> $GITHUB_ENV
          echo "IMAGE_TAG=v2" >> $GITHUB_ENV
          echo "REGISTRY=ghcr.io" >> $GITHUB_ENV
          echo "OWNER=${{ github.repository_owner }}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          docker build -f ubuntucontainer_nginx \
            -t $REGISTRY/$OWNER/$IMAGE_NAME:$IMAGE_TAG .

      - name: Push Docker Image to GHCR
        run: |
          docker push $REGISTRY/$OWNER/$IMAGE_NAME:$IMAGE_TAG
