name: Build & Push Image to Nexus

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set Image Variables
        run: |
          echo "IMAGE_NAME=ubuntu_nginx" >> $GITHUB_ENV
          echo "IMAGE_TAG=v1" >> $GITHUB_ENV
          echo "NEXUS_REPO= alina-neonatal-bardily.ngrok-free.dev" >> $GITHUB_ENV

      - name: Install Docker
        uses: docker/setup-buildx-action@v2

      - name: Build Docker Image
        run: |
          docker build -f ubuntucontainer_nginx -t $IMAGE_NAME:$IMAGE_TAG .

      - name: Login to Nexus Registry
        uses: docker/login-action@v3
        with:
          registry: alina-neonatal-bardily.ngrok-free.dev 
          username: ${{ secrets.NEXUS_USER }}
          password: ${{ secrets.NEXUS_PASS }}

      - name: Tag Image
        run: |
          docker tag $IMAGE_NAME:$IMAGE_TAG $NEXUS_REPO/$IMAGE_NAME:$IMAGE_TAG

      - name: Push Image to Nexus
        run: |
          docker push $NEXUS_REPO/$IMAGE_NAME:$IMAGE_TAG

